@mixin center(){
   display: flex;
   justify-content: center;
   align-items: center;
 }
@mixin start(){
   display: flex;
   justify-content: start;
   align-items: center;
 }

@mixin around(){
   display: flex;
   justify-content: space-around;
   align-items: center;
 }

@mixin between(){
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 @mixin column(){
    display: flex;
    flex-direction: column;
 }

 @mixin wrap(){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }